.container-customers {
  margin-top: 80px;
}

.container-customers table {
  th,
  td {
    border: 1px solid #ccc;
  }
  tfoot {
    td {
      border: none;
    }
    button {
      margin-block: 10px;
    }
    td:nth-of-type(3) button{
      background-color: #37b423;
    }
    td:nth-of-type(5) button{
      background-color: crimson;
    }
  }
}

.container-customers input {
  width: 100%;
  border-color: #ccc;
  margin: 0px;
  &:focus {
    outline-color: #757575;
  }
}

/* Style for the second column */
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10) {
  color: red;
  font-weight: 600;
}
