/* start rules */
.btn{
  background-color: #302e38;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  &:enabled {
    background-color: #403893;
  }

}
/* end rules */
 
.container-services {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 20px;
}

/* services-input */
 .services-input {
  text-align: center;
  div {
    text-align: left;
  }
  & hr {
    margin-left: -10px;
    margin-block: 10px;
    width: calc(100% + 20px);
  }
  padding: 10px;
  & .row:last-of-type input{
    width: 100px;
  }
}
label {
  font-weight: bold;
}
input {
  padding: 5px;
  border: 1px #252247 solid;
  border-radius: 4px;
  margin: 10px;
}

.warning{
  color: crimson;
  text-shadow: 0 0 2px red;
  margin-bottom: 5px;
}

/* services output */
.services-output {
  border-left: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 3px;
  & h2 {
    text-align: center;
  }
}
.container-table{
  margin-top: 10px;
  max-height: 250px;
  overflow: auto;
  border: 1px solid #494952;
}
table {
  background-color: #fff;
  color: #494952;
  border-collapse: collapse;
  & tr:not(:last-child){
    border-bottom: 1px solid #edeef1;
  }
  th {
    background-color: #f9fafb;
    color: #374151;
  }
  & td,
  th {
    width: 150px;
    padding: 5px 10px;
    &:last-child{
      width: fit-content;
    }
  }
}
